<div class="page-theme primary-background" fxLayoutAlign="center center">
  <mat-card class="sigin-form secondary-background" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div class="full-height full-width" fxLayoutAlign="center center" fxLayout="column">
      <h2 class="title">Don't have an account ?</h2>
      <button mat-stroked-button class="white-button-outline" routerLink="/signup">
        SignUp Now
      </button>
    </div>
    <div @fadeOut class="sigin" fxLayout="column" fxLayoutAlign="center center">
      <span class="form-title">Sign In</span>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error>
            {{ errorObserver$.email | async }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-error>
            {{ errorObserver$.password | async }}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="full-width">
          SignIn
        </button>
      </form>
      <div class="forgot cursor-pointer" fxLayout="row" fxLayoutGap="5px">
        <span routerLink="/forgot-password">Forgot password?</span>
      </div>
    </div>
  </mat-card>
</div>
