@import "./custom_theme.scss";

$primary: map-get($custom-theme, primary);
$accent: map-get($custom-theme, accent);

$primary-default: mat-color($primary, default);
$secondary-default: mat-color($accent, default);

$primary-color: "#FEC807";
