$mat-nav-primary: (
  50: #eee3e7,
  100: #d4b9c3,
  200: #b88b9b,
  300: #9c5c72,
  400: #863954,
  500: #711636,
  600: #691330,
  700: #5e1029,
  800: #540c22,
  900: #420616,
  A100: #ff7893,
  A200: #ff456a,
  A400: #ff1242,
  A700: #f70032,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-arc-accent: (
  100: #7d5435,
  200: #6c482e,
  300: #5a3c26,
  400: #48301f,
  500: #362417,
  600: #24180f,
  700: #120c08,
  800: #000000,
  contrast: (
    100: #242424,
    200: #7b7b7b,
    300: #bdbdbd,
    400: #e9e9e9,
    500: #f4f4f4,
    600: #f4f4f4,
    700: #e9e7e7,
    800: #ffffff,
  ),
);

$mat-arc-warn: (
  100: #fee7da,
  200: #fec9b6,
  300: #fea591,
  400: #fe8276,
  500: #fe4a49,
  600: #da3542,
  700: #b6243d,
  800: #931736,
  contrast: (
    100: #242424,
    200: #7b7b7b,
    300: #bdbdbd,
    400: #e9e9e9,
    500: #f4f4f4,
    600: #f4f4f4,
    700: #e9e7e7,
    800: #ffffff,
  ),
);
