<div class="page-theme primary-background" fxLayoutAlign="center center">
  <mat-card class="reset-card" fxLayoutAlign="center center" fxLayout="column">
    <span class="form-title">Sign In</span>
    <form
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutGap="10px"
      class="form-container"
    >
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="passwordHash"
          placeholder="Enter password"
        />
        <mat-error>{{ errorObserver$.passwordHash | async }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          placeholder="Enter password"
        />
        <mat-error>{{ errorObserver$.confirmPassword | async }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Reset</button>
    </form>
  </mat-card>
</div>
