.page-theme {
  width: 100%;
}

.reset-card {
  max-width: 400px;
  width: 100%;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-container {
  width: 100%;
}
