.pages {
    padding: 20px;
  }
  
  .header{
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid #242424;
    .title{
      font-weight: 600;
      font-size: 21px;
    }
  }
  
  .missing-image{
    height: 200px;
    width: 200px;
  }